body{
	background-color:#dcd8c0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}



a{
	text-decoration: none;
	color:#000;
}
a:active{
	color:black;
}

.container{
	width:80%;
	margin:auto;
}

#main-header{
	clear;
}


#navbar	{
	background-color:#12437b;
	color:white;
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar	li{
	display:inline;
}

#navbar a{
	color:white;
	padding-right: 50px;
	list-style:none;
}

#home{
	padding-left:0px;

}